<div class ="cover">
 <div class ="card">
   <% projects.forEach(project=> { %>
     <div class ="infobox"id ="project_id">
      <h3>id:<%=project.id%></h3>
     </div>
     <div class="infobox"id="project_name">
      <%=project.name%>
     </div>
     <div class="infobox"id="project_description">
      <%=project.desc%>
     </div>
     <div class="infobox" id="project_author">
       <b>Author:<%=project.author%></b>
     </div>
     <div class="infobox" id="project_date">
      <b>Date:<%=project.date%></b>
      <div>
        <button class="infobox_button" id="track_issues"><a href="/issues">Track Issues</a></button>
        <button class="infobox_button" id="delete_project">Delete Project</button>
      </div>
    </div>
   <% }) %>
 </div>
</div>