<table class="table table-dark">
    <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                </tr>
    </thead>
    <tbody>
    <% projects.forEach(project=>{ %>
        <tr>
                        <th><%= project.id %></th>
                        <td><%= project.name %></td>
                        <td><%= project.desc %> </td>
                        <td><%= project.author %></td>
                        <td><%= project.date%></td>
        </tr>
    <% }) %>           
    </tbody>
</table>
