<div class="card" style="width:60%;height:auto;margin:auto;background-color:rgb(81, 80, 82);border-radius: 1rem;">
    <div class="card-body">
        <h1 class="mt-5 mb-4" style="text-align: center;color:white">Update Issue</h1>
        <!-- this form is submitting on / url and the method of the form is post -->
        <form action="/update-issue/<%=issue.issueid%>" method="post">
         
            <input type="hidden" class="form-control" id="issueid" name="issueid" value="<%= issue.issueid %>" >
            <div class="mb-3 d-flex">
                <label for="name" class="form-label"><strong>Name</strong></label>
                <input type="text" class="form-control" id="name" name="name" value="<%= issue.name %>" style="margin-left:1rem">
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label"><strong>Description</strong></label>
                <textarea class="form-control" id="desc" name="desc" rows="3" ><%= issue.desc %></textarea>
            </div>
            <div class="mb-3">
                <label for="severity" class="form-label"><strong>Severity</strong></label>
                <div class="d-flex">
                    <input type="radio" id="low" name="severity" value="low">
                    <label for="low" style="color:white; margin-right:2rem"><strong>Low</strong></label><br>
                    <input type="radio" id="medium" name="severity" value="medium">
                    <label for="medium" style="color:white; margin-right:2rem"><strong>Medium</strong></label><br>
                    <input type="radio" id="major" name="severity" value="high">
                    <label for="major" style="color:white; margin-right:2rem"><strong>Major </strong></label>
                </div>
            </div>
            <div class="mb-3 d-flex">
                <label for="reporter" class="form-label"><strong>Reporter</strong></label>
                <input type="text" class="form-control" id="reporter" name="reporter" value="<%= issue.reporter %>" style="margin-left:1rem">
            </div>
            <div class="mb-3 d-flex">
                <label for="assignee" class="form-label"><strong>Assignee</strong></label>
                <input type="text" class="form-control" id="assignee" name="assignee" value="<%= issue.assignee %>" style="margin-left:1rem">
            </div>
            <div class="mb-3 d-flex">
                <label for="date" class="form-label"><strong>Date</strong></label> 
                <input type="date" class="form-control" id="date" name="date" value="<%= issue.date %>" style="margin-left:1rem">
            </div>
            <div class="mb-3">
                <label for="status" class="form-label"><strong>Status</strong></label> 
                <div class="d-flex" style="margin:auto">
                    <input type="radio" id="open" name="status" value="open">
                    <label for="open" style="color:white; margin-right:2rem"> <strong>Open</strong></label><br>
                    <input type="radio" id="in-progress" name="status" value="in-progress">
                    <label for="in-progress" style="color:white;margin-right:2rem;"><strong>In Progress </strong></label><br>
                    <input type="radio" id="closed" name="status" value="to-be-tested">
                    <label for="to-be-tested" style="color:white;margin-right:2rem;"><strong>To be tested </strong></label>
                    <input type="radio" id="closed" name="status" value="closed">
                    <label for="closed" style="color:white; margin-right:2rem"><strong>Closed</strong></label>
                </div>
            </div>
            <button type="submit" class="btn btn-primary"><strong>Update Issue</strong></button>
        </form>
    </div>
</div>

